@{
    ViewData["Title"] = "Home Page";
}
<div class="container" style="background-color: #efefef; height: 500px" >
    <div class="text-center">
        <h1 class="display-4"  >Book Shop</h1>
        <a href="/Books/Index" class="btn btn-primary">View all books</a>
    </div>
    </div>